extends layout2
block content
  h4 group #{group} has these courses for #{subject}
  ul.list-group
    if coursesList
      each course, i in coursesList.courses
        h1
        ul.list-group course #{i}
          h1
          li.list-group-item Title : #{course.title}
          li.list-group-item Ens name: #{course.publisher.fullName}
          li.list-group-item File: #{course.courseFile}
          
