extends layoutNR
block content
  .box
    h3 Profil
    br
    .container
      li.list-group-item Nom complet :  #{wantedUser.accountOwner.fullName}
      li.list-group-item id :  #{wantedUser.accountOwner.personId}
      li.list-group-item Date de naissance :  #{wantedUser.accountOwner.bDay.toDateString()}
      if wantedUser.accountOwner instanceof Student
        li.list-group-item groupe :  #{wantedUser.accountOwner.group}
      if user
        if user.id == wantedUser.id
          if user.accountOwner instanceof Student
            if (user.accountOwner.allWorks.length != 0)
              li.list-group-item Travaux: #{wantedUser.accountOwner.allWorks}
            else 
              li.list-group-item Travaux : none
            br
            a.btn.btn-info(href='/students/courses', role='button') Afficher mes cours
          else if user.accountOwner instanceof Ens
            li.list-group-item grade :  #{wantedUser.accountOwner.grade}
            li.list-group-item teaching :  #{wantedUser.accountOwner.teaching}
            br
            a.btn.btn-info(href='/enss/addCourse', role='button') Ajouter un cour
